In [4]:
# pandas handles data through:    Series, DataFrame and Panel
# pandas Series - is a 1D labelled array like object capable of holding data of any type(integer, string,float,python objects etc.). 
# The axis labels are collectively called index. A pandas series can be created using following constructor:-
# Pandas.Series(data, index, dtype, copy)       #pandas series constructor    

import numpy as np
import pandas as pd
data=np.array(['a', 'b', 'c', 'd'])
s=pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [5]:
# DataFrame is a Two-Dimensional tabular data structure with labeled axes rows, 
# and columns. an immutable, heterogeneous  pandas Dataframe consists of three components principal, data, rows, and columns. Pandas is built on the 
# NumPy library and written in languages like Python, Cython, and C.

# 1) to create an empty dataframe-
df = pd.DataFrame()
print(df)

print("\n")
# 2)  to create a dataframe with values-
df1= pd.DataFrame(([1,2], [3,4],[5,6]))
print(df1)

Empty DataFrame
Columns: []
Index: []


   0  1
0  1  2
1  3  4
2  5  6

In [9]:
# 3) to see only selective rows in pandas-
# from start/top -     
print(df1.head(2))     #will read top 2 rows
# from end/bottom - 
print(df1.tail(2))      #will read last 1 row


# panel in pandas is a three-dimensional container of data. To create a panel, we can use ndarrays(multidimensional arrays) 
# and a dictionary of DataFrames(one of the Pandas 2-D data structures that contain data in the tabular form of rows and columns)
# df= pd.Panel(data)
# print(df)

   0  1
0  1  2
1  3  4
   0  1
1  3  4
2  5  6

In [9]:
import pandas as pd
df= pd.DataFrame(([5,6,7,8], [1,2,3,4],[3,6,1,8]))
print(df)
df.iloc[1:3,0:2]

   0  1  2  3
0  5  6  7  8
1  1  2  3  4
2  3  6  1  8

   0  1
1  1  2
2  3  6

__HEY Tom__
**Hey Chai**
_Hey Tom_
*Hey Tom*

# Sachin
## Rajbhar
### is
#### a 
##### good
###### boy
    
<img src="Save013.jpeg">
<img src="Tree013.jpg">

* A
    - A.1
    - A.2
* B
    - B.1
    - B.2

- A
    * A.1
    * A.2
- B
    * B.1
    * B.2
    
    
    
1. A
    1A.1
    2A.2
2. B
    1B.1
    2B.2

[Google](https://www.google.com/)

# Table:-



|Roll No.||Name||Age|
|-||-||-|
|--||Joy||81|
|--||Tom||91|

| This | is   |
|------|------|
|   a  | table|

Namaste Dunia

1. a
    1. a

1. a
    1. b
        1. c