In [2]:
import numpy as np
print(np.__version__)

1.21.5

# NumPy is used to work with arrays. The array object in NumPy is called ndarray.

# Defining arrays: We can define NumPy arrays in a number of ways......# Using np.array(), np.arange(), np.zeros, np.ones, np.full, random

In [3]:
#1)To define an array manually, we can use the np.array() function. 

arr = np.array([1, 2, 3, 4, 5])  #using tuple

print(arr)

print(type(arr))
print(arr.dtype)      #grab the data type of the object in the array

#Below, we pass a list of two elements, each of which is a list containing two values. 
#The result is a 2x2 matrix:

np.array([[1,2],[3,4]])

[1 2 3 4 5]
<class 'numpy.ndarray'>
int32

array([[1, 2],
       [3, 4]])

In [4]:
#The function np.arange() is great for creating vectors easily. Here, we create a vector with values spanning 1 up to (but not including) 5:

np.arange(1,5)

array([1, 2, 3, 4])

In [5]:
x=np.arange(0,11,2)   #start,stop,step for evenly shaped array
print(x)

[ 0  2  4  6  8 10]

In [6]:
#to create a numpy variable as an array with zeros in every element.
np.zeros((3,1))

array([[0.],
       [0.],
       [0.]])

In [7]:
#to create a numpy variable as an array with ones in every element.
np.ones((3,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [8]:
"""
np.full() creates an array repeating a fixed value (defaults to zero). 
Here we create a 2x3 array with the number 4 in each element:
"""

np.full((2,3),4)

array([[4, 4, 4],
       [4, 4, 4]])

In [9]:
#to create an array where each element is a random number using numpy.random.rand. 

np.random.rand(2,3)

array([[0.97672616, 0.64471945, 0.38506868],
       [0.57354404, 0.14834056, 0.63658139]])

# shaping an array using .shape attribute

In [10]:
#let's get the shape of a vector, matrix, and tensor.

vector=np.arange(5)
print("vector shape:", vector.shape, '\t', vector)
print("dimension:",vector.ndim)

matrix= np.ones([3,2])
print("\n matrix shape:", matrix.shape,'\n', matrix)
print("dimension:",matrix.ndim)

tensor = np.zeros([2, 3, 3])
print("\n Tensor shape:", tensor.shape,'\n', tensor)
print("dimension:",tensor.ndim)

tensor1=np.full((4,2),8)
print("\n tensor shape:", tensor1.shape,'\n', tensor1)
print("dimension:",tensor1.ndim)

vector shape: (5,) 	 [0 1 2 3 4]
dimension: 1

 matrix shape: (3, 2)
 [[1. 1.]
 [1. 1.]
 [1. 1.]]
dimension: 2

 Tensor shape: (2, 3, 3)
 [[[0. 0. 0.]
  [0. 0. 0.]
  [0. 0. 0.]]

 [[0. 0. 0.]
  [0. 0. 0.]
  [0. 0. 0.]]]
dimension: 3

 tensor shape: (4, 2)
 [[8 8]
 [8 8]
 [8 8]
 [8 8]]
dimension: 2

# Reshaping arrays. We can reshape an array into any compatible dimensions using .reshape .

In [11]:
arr = np.arange(1, 10)
print(arr, '\n')

# Reshape to 3x3 matrix
arr = arr.reshape(3, 3)
print(arr, '\n')
print("minimum element is:", arr.min())
print("maximum element is:", arr.max())

# Reshape back to the original size
arr = arr.reshape(9)
print(arr)

[1 2 3 4 5 6 7 8 9]

[[1 2 3]
 [4 5 6]
 [7 8 9]]

minimum element is: 1
maximum element is: 9
[1 2 3 4 5 6 7 8 9]

# to Return evenly spaced numbers over a specified interval use linspace

In [12]:
np.linspace(0,10,5)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

# eye: to create an identity matrix

In [13]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [14]:
np.eye(3, k=1)

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.]])

In [15]:
np.eye(3, k=-2)

array([[0., 0., 0.],
       [0., 0., 0.],
       [1., 0., 0.]])

# loading a csv file using numpy

In [16]:
# using loadtxt()
arr = np.loadtxt("C:\\Users\\athar123\\Desktop\\test_bca.csv", delimiter=",", dtype=str)
display(arr)



display(arr[2])

array([['a', 'b', 'c'],
       ['d', 'e', 'f'],
       ['g', 'h', 'i'],
       ['1', '2', '3']], dtype='<U1')

array(['g', 'h', 'i'], dtype='<U1')

# loading a csv file using pandas

In [17]:
import pandas as pd
from pandas import read_csv

df=pd.read_csv('train.csv')
data=df.values
print(data)

[[1 0 3 ... 7.25 nan 'S']
 [2 1 1 ... 71.2833 'C85' 'C']
 [3 1 3 ... 7.925 nan 'S']
 ...
 [889 0 3 ... 23.45 nan 'S']
 [890 1 1 ... 30.0 'C148' 'C']
 [891 0 3 ... 7.75 nan 'Q']]

In [18]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# loading already existing datasets using sklearn(scikit-learn) library

In [33]:
import sklearn
from sklearn.datasets import load_iris
iris= load_iris()
x,y= iris.data, iris.target
print(x,y)

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]
 [5.4 3.9 1.7 0.4]
 [4.6 3.4 1.4 0.3]
 [5.  3.4 1.5 0.2]
 [4.4 2.9 1.4 0.2]
 [4.9 3.1 1.5 0.1]
 [5.4 3.7 1.5 0.2]
 [4.8 3.4 1.6 0.2]
 [4.8 3.  1.4 0.1]
 [4.3 3.  1.1 0.1]
 [5.8 4.  1.2 0.2]
 [5.7 4.4 1.5 0.4]
 [5.4 3.9 1.3 0.4]
 [5.1 3.5 1.4 0.3]
 [5.7 3.8 1.7 0.3]
 [5.1 3.8 1.5 0.3]
 [5.4 3.4 1.7 0.2]
 [5.1 3.7 1.5 0.4]
 [4.6 3.6 1.  0.2]
 [5.1 3.3 1.7 0.5]
 [4.8 3.4 1.9 0.2]
 [5.  3.  1.6 0.2]
 [5.  3.4 1.6 0.4]
 [5.2 3.5 1.5 0.2]
 [5.2 3.4 1.4 0.2]
 [4.7 3.2 1.6 0.2]
 [4.8 3.1 1.6 0.2]
 [5.4 3.4 1.5 0.4]
 [5.2 4.1 1.5 0.1]
 [5.5 4.2 1.4 0.2]
 [4.9 3.1 1.5 0.2]
 [5.  3.2 1.2 0.2]
 [5.5 3.5 1.3 0.2]
 [4.9 3.6 1.4 0.1]
 [4.4 3.  1.3 0.2]
 [5.1 3.4 1.5 0.2]
 [5.  3.5 1.3 0.3]
 [4.5 2.3 1.3 0.3]
 [4.4 3.2 1.3 0.2]
 [5.  3.5 1.6 0.6]
 [5.1 3.8 1.9 0.4]
 [4.8 3.  1.4 0.3]
 [5.1 3.8 1.6 0.2]
 [4.6 3.2 1.4 0.2]
 [5.3 3.7 1.5 0.2]
 [5.  3.3 1.4 0.2]
 [7.  3.2 4.7 1.4]
 [6.4 3.2 4.5 1.5]
 [6.9 3.1 4.9 1.5]
 [5.5 2.3 4.  1.3]
 [6.5 2.8 4.6 1.5]
 [5.7 2.8 4.5 1.3]
 [6.3 3.3 4.7 1.6]
 [4.9 2.4 3.3 1. ]
 [6.6 2.9 4.6 1.3]
 [5.2 2.7 3.9 1.4]
 [5.  2.  3.5 1. ]
 [5.9 3.  4.2 1.5]
 [6.  2.2 4.  1. ]
 [6.1 2.9 4.7 1.4]
 [5.6 2.9 3.6 1.3]
 [6.7 3.1 4.4 1.4]
 [5.6 3.  4.5 1.5]
 [5.8 2.7 4.1 1. ]
 [6.2 2.2 4.5 1.5]
 [5.6 2.5 3.9 1.1]
 [5.9 3.2 4.8 1.8]
 [6.1 2.8 4.  1.3]
 [6.3 2.5 4.9 1.5]
 [6.1 2.8 4.7 1.2]
 [6.4 2.9 4.3 1.3]
 [6.6 3.  4.4 1.4]
 [6.8 2.8 4.8 1.4]
 [6.7 3.  5.  1.7]
 [6.  2.9 4.5 1.5]
 [5.7 2.6 3.5 1. ]
 [5.5 2.4 3.8 1.1]
 [5.5 2.4 3.7 1. ]
 [5.8 2.7 3.9 1.2]
 [6.  2.7 5.1 1.6]
 [5.4 3.  4.5 1.5]
 [6.  3.4 4.5 1.6]
 [6.7 3.1 4.7 1.5]
 [6.3 2.3 4.4 1.3]
 [5.6 3.  4.1 1.3]
 [5.5 2.5 4.  1.3]
 [5.5 2.6 4.4 1.2]
 [6.1 3.  4.6 1.4]
 [5.8 2.6 4.  1.2]
 [5.  2.3 3.3 1. ]
 [5.6 2.7 4.2 1.3]
 [5.7 3.  4.2 1.2]
 [5.7 2.9 4.2 1.3]
 [6.2 2.9 4.3 1.3]
 [5.1 2.5 3.  1.1]
 [5.7 2.8 4.1 1.3]
 [6.3 3.3 6.  2.5]
 [5.8 2.7 5.1 1.9]
 [7.1 3.  5.9 2.1]
 [6.3 2.9 5.6 1.8]
 [6.5 3.  5.8 2.2]
 [7.6 3.  6.6 2.1]
 [4.9 2.5 4.5 1.7]
 [7.3 2.9 6.3 1.8]
 [6.7 2.5 5.8 1.8]
 [7.2 3.6 6.1 2.5]
 [6.5 3.2 5.1 2. ]
 [6.4 2.7 5.3 1.9]
 [6.8 3.  5.5 2.1]
 [5.7 2.5 5.  2. ]
 [5.8 2.8 5.1 2.4]
 [6.4 3.2 5.3 2.3]
 [6.5 3.  5.5 1.8]
 [7.7 3.8 6.7 2.2]
 [7.7 2.6 6.9 2.3]
 [6.  2.2 5.  1.5]
 [6.9 3.2 5.7 2.3]
 [5.6 2.8 4.9 2. ]
 [7.7 2.8 6.7 2. ]
 [6.3 2.7 4.9 1.8]
 [6.7 3.3 5.7 2.1]
 [7.2 3.2 6.  1.8]
 [6.2 2.8 4.8 1.8]
 [6.1 3.  4.9 1.8]
 [6.4 2.8 5.6 2.1]
 [7.2 3.  5.8 1.6]
 [7.4 2.8 6.1 1.9]
 [7.9 3.8 6.4 2. ]
 [6.4 2.8 5.6 2.2]
 [6.3 2.8 5.1 1.5]
 [6.1 2.6 5.6 1.4]
 [7.7 3.  6.1 2.3]
 [6.3 3.4 5.6 2.4]
 [6.4 3.1 5.5 1.8]
 [6.  3.  4.8 1.8]
 [6.9 3.1 5.4 2.1]
 [6.7 3.1 5.6 2.4]
 [6.9 3.1 5.1 2.3]
 [5.8 2.7 5.1 1.9]
 [6.8 3.2 5.9 2.3]
 [6.7 3.3 5.7 2.5]
 [6.7 3.  5.2 2.3]
 [6.3 2.5 5.  1.9]
 [6.5 3.  5.2 2. ]
 [6.2 3.4 5.4 2.3]
 [5.9 3.  5.1 1.8]] [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [30]:
from sklearn.linear_model import LinearRegression
hypothesis = LinearRegression(positive = True)
hypothesis.fit(x,y)

LinearRegression(positive=True)

In [31]:
print(hypothesis.coef_)

[0.         0.         0.17832294 0.63042101]

# to show max value along an axis using numpy

In [38]:
import numpy as np

table = np.array([    [5, 3, 7, 1],    [2, 6, 7 ,9],     [1, 1, 1, 1],     [4, 3, 2, 0], ])

print(table)
table.max()

[[5 3 7 1]
 [2 6 7 9]
 [1 1 1 1]
 [4 3 2 0]]

9

In [36]:
#with an argument of axis=0, .max() selects the maximum value in each of the four vertical sets of values in table and
#returns an array that has been flattened, or aggregated into a one-dimensional array.
table.max(axis=0)

array([5, 6, 7, 9])

In [37]:
table.max(axis=1)

array([7, 9, 1, 4])

# to demonstrate how fast is numpy in comparison to list

In [44]:
arr=np.arange(10000000)
pythlist=list(range(10000000))  #typecast range to list
print(arr)

[      0       1       2 ... 9999997 9999998 9999999]

In [45]:
#time taken by list
%time for _ in range(10): [item * 3 for item in pythlist]

CPU times: total: 18.2 s
Wall time: 20.2 s

In [46]:
#time taken by numpy array(fast speed bcoz max code of numpy is written in c)
%time for _ in range(10): arr=arr*3

CPU times: total: 328 ms
Wall time: 398 ms