In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('students_placement.csv')

In [5]:
df.shape

(300, 4)

In [6]:
df.sample(5)

     cgpa   iq  profile_score  placed
159  5.84  105             67       1
10   7.64  102             51       0
15   7.88   91             59       1
74   7.49   88             47       1
143  7.00  100             62       1

In [7]:
X = df.drop(columns=['placed'])
y = df['placed']

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
scaler = StandardScaler()
X_train_trf =  scaler.fit_transform(X_train)
X_test_trf = scaler.transform(X_test)
accuracy_score(y_test,
               LogisticRegression()
               .fit(X_train_trf,y_train)
               .predict(X_test_trf))

0.8833333333333333

In [10]:
from sklearn.ensemble import RandomForestClassifier
accuracy_score(y_test,RandomForestClassifier().fit(X_train,y_train).predict(X_test))

0.9

In [11]:
from sklearn.svm import SVC
accuracy_score(y_test,SVC(kernel='rbf').fit(X_train,y_train).predict(X_test))

0.9333333333333333